@use "../../styles/variables" as vars;
@use "../../styles/mixin" as mix;
@use "sass:map";

.sidebar {
  position: fixed;
  transform: translateX(-100%);
  background: vars.$background;
  display: none;
  height: calc(100vh - vars.$h-header);
  right: 0;
  z-index: 50;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  @include mix.media-breakpoint-up(map.get(vars.$grid-breakpoints, xl)) {
    display: block;
    right: auto;
    left: 0;
  }

  .sidebar-content {
    min-width: 300px;
    overflow: scroll;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sidebar-icon {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background: vars.$active-color;
    display: none;
    transform: translateY(-50%);
    right: -30px;
    cursor: pointer;

    @include mix.media-breakpoint-up(map.get(vars.$grid-breakpoints, xl)) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px,
    rgb(0 0 0 / 30%) 0 30px 60px -30px,
    rgb(10 37 64 / 35%) 0 -2px 6px 0 inset;

    svg {
      color: vars.$background;
    }
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.visible {
  transform: translateX(0);
  display: block;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  z-index: 2;
  display: block;
  cursor: pointer;

  @include mix.media-breakpoint-up(map.get(vars.$grid-breakpoints, xl)) {
    display: none;
  }
}