$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$background: #fff;
$foreground: #171717;
$active-color: #009b2b;
$bg-color: #fff;
$color-light: #fff;
$bg-second: #f8f8f8;
$h-header: 85px;
