@import "../styles/reset";
@import "../styles/variables.scss";
@import "../styles/mixin";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// :root {
//   --background: #ffffff;
//   --foreground: #171717;
//   --active-color: #009B2B;
//   --bg-color: #FFFFFF;
//   --color-light: #FFFFFF;
//   --bg-second: #F8F8F8;
//   --h-header: 85px;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
  background: #ffffff;
  font-family: "Fira Code", serif;
}

.container {
  padding: 0 24px;
}

.xterm .xterm-viewport::-webkit-scrollbar {
  display: none;
}

.xterm .xterm-viewport {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
