@use "../../styles/variables" as vars;
@use "../../styles/mixin" as mix;
@use "sass:map";

.main-layout {
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 0;
  padding: 20px 30px;

  @include mix.media-breakpoint-up(map.get(vars.$grid-breakpoints, xl)) {
    margin-left: auto;
  }
}
